[Desktop Entry]
Categories=Office;Publishing;Qt;X-SuSE-Core-Office;X-Mandriva-Office-Publishing;X-Misc;
Exec=texiteasy %F
GenericName=LaTeX Editor
GenericName[fr]=Editeur LaTeX
Comment=Simple and Powerful Latex Editor
Comment[fr]=Editeur Latex Simple et Puissant
Icon=texiteasy
MimeType=text/x-tex;
Name=TexitEasy
Name[fr]=TexitEasy
StartupNotify=false
Terminal=false
Type=Application
Actions=Document;

[Desktop Action Document]
Name=New File
Name[fr]=Nouveau Fichier
Exec=texiteasy
OnlyShowIn=Unity;
